<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<h1>Edit <%= @dog.name %></h1>
<div class="container">
  <form action="/dogs/<%= @dog.id %>" method="GET">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label><h2>Dog's Name</h2>
      <input class="form-input" type="text" name="dog[name]" value="<%= @dog.name %>">
    </label>

    <label><h2>Owner</h2>
      <input class="form-input" type="text" name="dog[owner]" value="<%= @dog.owner %>">
    </label>

    <input type="submit" class="submit-button">
  </form>
</div>

<%= link_to "Back to All Dogs", "/dogs" %>
